@tailwind base;
@tailwind components;
@tailwind utilities;
.header_wrapper{
    justify-content: center;
}
.dashboard_top_container{
    background-image: url('../../public/assets/images/careercove.jpg');
    background-repeat: no-repeat;
    /* background-size: 100% 100%;
    height: 100%; */
}
